			body{

				height: 100vh;

				background-color:white;

			}

			.principal{

				height: calc(100vh - 188.5px);

				margin-top:67px;

				display:flex;

				justify-content:center;

			}

			.conteudo{

				font-size: 2rem;

			}

			.conteudo{

				position: relative;

				width: 70vw;

				height: calc(70vh - 40px);

				overflow-y: scroll;

				padding:10px;

			}

			.rodape{

				height: 60px;

				background-color: #035e7f;

				display:flex;

				justify-content: center;

				align-items: center;

				font-size: 1.5rem;

				color: #fff;

			}

			::-webkit-scrollbar-track {

				background-color: #F4F4F4;

			}

			::-webkit-scrollbar {

				width: 6px;

				background: #F4F4F4;

			}

			::-webkit-scrollbar-thumb {

				background: #dad7d7;

			}

			input[type=number]::-webkit-inner-spin-button { 

				-webkit-appearance: none;

				

			}

			input[type=number] { 

			   -moz-appearance: textfield;

			   appearance: textfield;



			}

			.glyphicon-duplicate{font-size:30px;color:#000;}

			  .btn-icon {color: Red;font-size: 20px;}

			  .btn-iconi {color: blue;font-size: 20px;}